# functions
export( data_cor,
        high_val,
        low_val,
        data_dim,
        data_names,
        data_na_vars,
        data_na_obs,
        data_shorter_names,
        data_omit,
        data_str,
        y_distinct,
        data_distinct,
        data_cha2fac,
        data_few2fac,
        data_int2num,
        data_xyplot,
        data_plot,
        data_bucket,
        data_zscores,
        y_zscores,
        data_outliers,
        y_outliers,
        y_outliers_both,
         y_outliers_by,
        data_part,
        data_part_list,
        data_rm,
        data_select,
        data_exclude_class,
        data_only_continuous,
        data_rm1val,
        data_pcor,
        data_response,
        data_cut,
        void,
        data_void,
        data_part_list,
        data_Kfold_index,
        data_Kfold_weights,
        data_boot_index,
        data_boot_weights,
        data_scale,
        data_rename,
        data_leverage,
        data_inter,
        data_association,
        high_val,
        low_val,
        data_rmNAvars,
        data_fac2num,
        data_factor,
        y_factor
)
################################################################################
# ACE object
#S3method(plot, ACE)
#S3method(print, ACE)
################################################################################
# fit_PB object
#S3method(print, Psplines)
#S3method(coef, Psplines)
#S3method(deviance, Psplines)
#S3method(fitted, Psplines)
#S3method(predict, Psplines)
#S3method(residuals, Psplines)
################################################################################
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "str")
importFrom("utils", "head")
importFrom("utils", "tail")
################################################################################
importFrom("grDevices", "hcl.colors", "colors")
importFrom("graphics", "lines", "par", "points")
importFrom("graphics", "abline")
importFrom("graphics", "segments")
################################################################################
importFrom("mgcv", "gam")
################################################################################
import(gamlss)
import(gamlss.dist)
import(gamlss.foreach)
importFrom("gamlss.ggplots", "moment_bucket", "y_dots", "y_hist")
################################################################################
import(ggridges)
import(ggplot2)
################################################################################
importFrom("grid", "grid.layout", "grid.newpage", "pushViewport", "viewport")
importFrom("stats", "model.matrix")
################################################################################
importFrom("gamlss.inf", "gen.Zadj", "gen.Inf0to1")
################################################################################
importFrom("grDevices", "devAskNewPage")
importFrom("grDevices", "gray")
################################################################################
importFrom("methods", "is")
importFrom("ellipse", "ellipse")
################################################################################
importFrom("stats", "quantile", "prcomp", "acf", "lag", "pacf",  "formula")
importFrom("stats", "residuals", "model.frame", "naresid", "resid")
importFrom("stats", "hatvalues", "vcov", "AIC")
importFrom("stats", "terms", "hat", "pchisq")
importFrom("stats", "loess", "sd", "uniroot")
importFrom("stats", "as.formula", "deviance")
importFrom("stats", "predict", "splinefun", "approxfun", "cor", "cov", "na.omit", "qchisq")
importFrom("stats", "pnorm", "qnorm", "dnorm", "ppoints", "pbeta", "qbeta",
            "IQR", "median")
importFrom("stats", "fitted", "lm")
importFrom("stats", "runif")
importFrom("stats", "density")
importFrom("stats", "get_all_vars")
importFrom("stats", "optimise")
importFrom("stats", "chisq.test")
importFrom("stats", "relevel")
################################################################################
importFrom("foreach", "%dopar%", "foreach", "%do%")
################################################################################
importFrom("graphics", "axis", "contour", "image", "rect")
importFrom("stats", "cmdscale", "ecdf", "family", "lm.wfit")
importFrom("yaImpute", "ann") 
importFrom("stats", "var")
importFrom("stats", "complete.cases")
